.ms-rteTable-1 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse
}
.ms-rteTable-1 TR.ms-rteTableHeaderRow-1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #d6e8ff; PADDING-BOTTOM: 10px; MARGIN: 10px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: capitalize; COLOR: #3f4d6b; LINE-HEIGHT: 14pt; PADDING-TOP: 10px; FONT-STYLE: normal; FONT-FAMILY: Tahoma; TEXT-ALIGN: left; border-spacing: 10px
}
.ms-rteTable-1 TD.ms-rteTableHeaderFirstCol-1 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; LINE-HEIGHT: 14pt; PADDING-TOP: 0in
}
.ms-rteTable-1 TD.ms-rteTableHeaderLastCol-1 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; LINE-HEIGHT: 14pt; PADDING-TOP: 0in
}
.ms-rteTable-1 TD.ms-rteTableHeaderOddCol-1 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; LINE-HEIGHT: 14pt; PADDING-TOP: 0in
}
.ms-rteTable-1 TD.ms-rteTableHeaderEvenCol-1 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; LINE-HEIGHT: 14pt; PADDING-TOP: 0in
}
.ms-rteTable-1 TR.ms-rteTableOddRow-1 {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #666666; BACKGROUND-COLOR: #f2f3f4
}
.ms-rteTable-1 TR.ms-rteTableEvenRow-1 {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #666666; BACKGROUND-COLOR: #e7ebf7
}
.ms-rteTable-1 TD.ms-rteTableFirstCol-1 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-1 TD.ms-rteTableLastCol-1 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-1 TD.ms-rteTableOddCol-1 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-1 TD.ms-rteTableEvenCol-1 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-1 TR.ms-rteTableFooterRow-1 {
	FONT-WEIGHT: 500; FONT-SIZE: 10pt; COLOR: #4a5a80; LINE-HEIGHT: 11pt; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #d6e8ff
}
.ms-rteTable-1 TD.ms-rteTableFooterFirstCol-1 {
	PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-1 TD.ms-rteTableFooterLastCol-1 {
	PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-1 TD.ms-rteTableFooterOddCol-1 {
	PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-1 TD.ms-rteTableFooterEvenCol-1 {
	PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-2 {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse
}
.ms-rteTable-2 TR.ms-rteTableHeaderRow-2 {
	BORDER-RIGHT: white 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: white 1pt solid; PADDING-LEFT: 5.4pt; FONT-SIZE: 11pt; BACKGROUND: #4f81bd; PADDING-BOTTOM: 0in; MARGIN: 0in 0in 10pt; BORDER-LEFT: white 1pt solid; WIDTH: 119.7pt; COLOR: #ffffff; LINE-HEIGHT: 115%; PADDING-TOP: 0in; BORDER-BOTTOM: white 3pt solid; FONT-FAMILY: "Calibri","sans-serif"
}
.ms-rteTable-2 TD.ms-rteTableHeaderFirstCol-2 {
	BORDER-RIGHT: white 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: white 1pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: white 1pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: white 3pt solid
}
.ms-rteTable-2 TD.ms-rteTableHeaderLastCol-2 {
	BORDER-RIGHT: white 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: white 1pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: white 1pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: white 3pt solid
}
.ms-rteTable-2 TD.ms-rteTableHeaderOddCol-2 {
	BORDER-RIGHT: white 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: white 1pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: white 1pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: white 3pt solid
}
.ms-rteTable-2 TD.ms-rteTableHeaderEvenCol-2 {
	BORDER-RIGHT: white 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: white 1pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: white 1pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: white 3pt solid
}
.ms-rteTable-2 TR.ms-rteTableOddRow-2 {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #666666; BACKGROUND-COLOR: #f2f3f4
}
.ms-rteTable-2 TR.ms-rteTableEvenRow-2 {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #666666; BACKGROUND-COLOR: #e7ebf7
}
.ms-rteTable-2 TD.ms-rteTableFirstCol-2 {
	BORDER-RIGHT: white 3pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; FONT-SIZE: 11pt; BACKGROUND: #4f81bd; PADDING-BOTTOM: 0in; MARGIN: 0in 0in 10pt; BORDER-LEFT: white 1pt solid; WIDTH: 119.7pt; COLOR: #ffffff; LINE-HEIGHT: 115%; PADDING-TOP: 0in; BORDER-BOTTOM: medium none; FONT-FAMILY: "Calibri","sans-serif"
}
.ms-rteTable-2 TD.ms-rteTableLastCol-2 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-2 TD.ms-rteTableOddCol-2 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-2 TD.ms-rteTableEvenCol-2 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-2 TR.ms-rteTableFooterRow-2 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; FONT-SIZE: 10pt; PADDING-BOTTOM: 0in; VERTICAL-ALIGN: top; COLOR: #666666; PADDING-TOP: 0in; BACKGROUND-COLOR: #ffffff
}
.ms-rteTable-2 TD.ms-rteTableFooterFirstCol-2 {
	BORDER-RIGHT: white 3pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; FONT-SIZE: 11pt; BACKGROUND: #4f81bd; PADDING-BOTTOM: 0in; MARGIN: 0in 0in 10pt; BORDER-LEFT: white 1pt solid; WIDTH: 119.7pt; COLOR: #ffffff; LINE-HEIGHT: 115%; PADDING-TOP: 0in; BORDER-BOTTOM: medium none; FONT-FAMILY: "Calibri","sans-serif"
}
.ms-rteTable-2 TD.ms-rteTableFooterLastCol-2 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-2 TD.ms-rteTableFooterOddCol-2 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-2 TD.ms-rteTableFooterEvenCol-2 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-3 {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse
}
.ms-rteTable-3 TR.ms-rteTableHeaderRow-3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 10pt; PADDING-BOTTOM: 10px; MARGIN: 10px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: capitalize; COLOR: #3a4663; PADDING-TOP: 10px; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #c4d1e3; TEXT-ALIGN: left; border-spacing: 10px
}
.ms-rteTable-3 TD.ms-rteTableHeaderFirstCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; LINE-HEIGHT: 14pt; PADDING-TOP: 0in
}
.ms-rteTable-3 TD.ms-rteTableHeaderLastCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; LINE-HEIGHT: 14pt; PADDING-TOP: 0in
}
.ms-rteTable-3 TD.ms-rteTableHeaderOddCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; LINE-HEIGHT: 14pt; PADDING-TOP: 0in
}
.ms-rteTable-3 TD.ms-rteTableHeaderEvenCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; LINE-HEIGHT: 14pt; PADDING-TOP: 0in
}
.ms-rteTable-3 TR.ms-rteTableOddRow-3 {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #666666
}
.ms-rteTable-3 TR.ms-rteTableEvenRow-3 {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #666666
}
.ms-rteTable-3 TD.ms-rteTableFirstCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; BACKGROUND-COLOR: #e7ebf7
}
.ms-rteTable-3 TD.ms-rteTableLastCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; BACKGROUND-COLOR: #e7ebf7
}
.ms-rteTable-3 TD.ms-rteTableOddCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; BACKGROUND-COLOR: #f7f3f7
}
.ms-rteTable-3 TD.ms-rteTableEvenCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; BACKGROUND-COLOR: #e7ebf7
}
.ms-rteTable-3 TR.ms-rteTableFooterRow-3 {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #3a4663; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #c4d1e3
}
.ms-rteTable-3 TD.ms-rteTableFooterFirstCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-3 TD.ms-rteTableFooterLastCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-3 TD.ms-rteTableFooterOddCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-3 TD.ms-rteTableFooterEvenCol-3 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-4 {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse
}
.ms-rteTable-4 TR.ms-rteTableHeaderRow-4 {
	BORDER-TOP-WIDTH: 1pt; PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; BORDER-LEFT-WIDTH: 1pt; FONT-SIZE: 11pt; BACKGROUND: #4f81bd; BORDER-BOTTOM-WIDTH: 3pt; PADDING-BOTTOM: 0in; MARGIN: 0in 0in 10pt; WIDTH: 119.7pt; COLOR: #ffffff; LINE-HEIGHT: 115%; PADDING-TOP: 0in; FONT-FAMILY: "Calibri","sans-serif"; BORDER-RIGHT-WIDTH: 1pt
}
.ms-rteTable-4 TD.ms-rteTableHeaderFirstCol-4 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-4 TD.ms-rteTableHeaderLastCol-4 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-4 TD.ms-rteTableHeaderOddCol-4 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-4 TD.ms-rteTableHeaderEvenCol-4 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-4 TR.ms-rteTableOddRow-4 {
	BORDER-TOP-WIDTH: 1pt; BORDER-LEFT-WIDTH: 1pt; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #666666; BORDER-BOTTOM: #4f81bd 1pt solid; BORDER-RIGHT-WIDTH: 1pt
}
.ms-rteTable-4 TR.ms-rteTableEvenRow-4 {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #666666
}
.ms-rteTable-4 TD.ms-rteTableFirstCol-4 {
	BORDER-TOP-WIDTH: 1pt; PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: #4f81bd 1pt solid; BORDER-TOP-COLOR: #4f81bd; PADDING-TOP: 0in; BORDER-BOTTOM: #4f81bd 1pt solid; BORDER-RIGHT-WIDTH: 1pt; BORDER-RIGHT-COLOR: #4f81bd
}
.ms-rteTable-4 TD.ms-rteTableLastCol-4 {
	BORDER-TOP-WIDTH: 1pt; BORDER-RIGHT: #4f81bd 1pt solid; PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; BORDER-LEFT-WIDTH: 1pt; BORDER-LEFT-COLOR: #4f81bd; PADDING-BOTTOM: 0in; BORDER-TOP-COLOR: #4f81bd; PADDING-TOP: 0in; BORDER-BOTTOM: #4f81bd 1pt solid
}
.ms-rteTable-4 TD.ms-rteTableOddCol-4 {
	BORDER-TOP-WIDTH: 1pt; PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; BORDER-LEFT-WIDTH: 1pt; BORDER-LEFT-COLOR: #4f81bd; PADDING-BOTTOM: 0in; BORDER-TOP-COLOR: #4f81bd; PADDING-TOP: 0in; BORDER-BOTTOM: #4f81bd 1pt solid; BORDER-RIGHT-WIDTH: 1pt; BORDER-RIGHT-COLOR: #4f81bd
}
.ms-rteTable-4 TD.ms-rteTableEvenCol-4 {
	BORDER-TOP-WIDTH: 1pt; PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; BORDER-LEFT-WIDTH: 1pt; BORDER-LEFT-COLOR: #4f81bd; PADDING-BOTTOM: 0in; BORDER-TOP-COLOR: #4f81bd; PADDING-TOP: 0in; BORDER-BOTTOM: #4f81bd 1pt solid; BORDER-RIGHT-WIDTH: 1pt; BORDER-RIGHT-COLOR: #4f81bd
}
.ms-rteTable-4 TR.ms-rteTableFooterRow-4 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; FONT-SIZE: 10pt; PADDING-BOTTOM: 0in; VERTICAL-ALIGN: top; COLOR: #355c8c; PADDING-TOP: 0in; BACKGROUND-COLOR: #ffffff
}
.ms-rteTable-4 TD.ms-rteTableFooterFirstCol-4 {
	BORDER-TOP-WIDTH: 1pt; PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: #4f81bd 1pt solid; BORDER-TOP-COLOR: #4f81bd; PADDING-TOP: 0in; BORDER-BOTTOM: #4f81bd 1pt solid; BORDER-RIGHT-WIDTH: 1pt; BORDER-RIGHT-COLOR: #4f81bd
}
.ms-rteTable-4 TD.ms-rteTableFooterLastCol-4 {
	BORDER-TOP-WIDTH: 1pt; BORDER-RIGHT: #4f81bd 1pt solid; PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; BORDER-LEFT-WIDTH: 1pt; BORDER-LEFT-COLOR: #4f81bd; PADDING-BOTTOM: 0in; BORDER-TOP-COLOR: #4f81bd; PADDING-TOP: 0in; BORDER-BOTTOM: #4f81bd 1pt solid
}
.ms-rteTable-4 TD.ms-rteTableFooterOddCol-4 {
	BORDER-TOP-WIDTH: 1pt; PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; BORDER-LEFT-WIDTH: 1pt; BORDER-LEFT-COLOR: #4f81bd; PADDING-BOTTOM: 0in; BORDER-TOP-COLOR: #4f81bd; PADDING-TOP: 0in; BORDER-BOTTOM: #4f81bd 1pt solid; BORDER-RIGHT-WIDTH: 1pt; BORDER-RIGHT-COLOR: #4f81bd
}
.ms-rteTable-4 TD.ms-rteTableFooterEvenCol-4 {
	BORDER-TOP-WIDTH: 1pt; PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; BORDER-LEFT-WIDTH: 1pt; BORDER-LEFT-COLOR: #4f81bd; PADDING-BOTTOM: 0in; BORDER-TOP-COLOR: #4f81bd; PADDING-TOP: 0in; BORDER-BOTTOM: #4f81bd 1pt solid; BORDER-RIGHT-WIDTH: 1pt; BORDER-RIGHT-COLOR: #4f81bd
}
.ms-rteTable-5 {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse
}
.ms-rteTable-5 TR.ms-rteTableHeaderRow-5 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: 500; FONT-SIZE: 10pt; PADDING-BOTTOM: 10px; MARGIN: 10px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: capitalize; COLOR: #3a4663; LINE-HEIGHT: 11pt; PADDING-TOP: 10px; FONT-STYLE: normal; FONT-FAMILY: Tahoma; TEXT-ALIGN: left; border-spacing: 10px
}
.ms-rteTable-5 TD.ms-rteTableHeaderFirstCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; PADDING-TOP: 0in
}
.ms-rteTable-5 TD.ms-rteTableHeaderLastCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; PADDING-TOP: 0in
}
.ms-rteTable-5 TD.ms-rteTableHeaderOddCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; PADDING-TOP: 0in
}
.ms-rteTable-5 TD.ms-rteTableHeaderEvenCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; COLOR: #3a4663; PADDING-TOP: 0in
}
.ms-rteTable-5 TR.ms-rteTableOddRow-5 {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #666666
}
.ms-rteTable-5 TR.ms-rteTableEvenRow-5 {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #666666
}
.ms-rteTable-5 TD.ms-rteTableFirstCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-5 TD.ms-rteTableLastCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-5 TD.ms-rteTableOddCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-5 TD.ms-rteTableEvenCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in
}
.ms-rteTable-5 TR.ms-rteTableFooterRow-5 {
	FONT-WEIGHT: 500; FONT-SIZE: 10pt; COLOR: #3a4663; LINE-HEIGHT: 11pt; FONT-FAMILY: Tahoma
}
.ms-rteTable-5 TD.ms-rteTableFooterFirstCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-5 TD.ms-rteTableFooterLastCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-5 TD.ms-rteTableFooterOddCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
.ms-rteTable-5 TD.ms-rteTableFooterEvenCol-5 {
	PADDING-RIGHT: 5.4pt; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; TEXT-ALIGN: left
}
